<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrestaurants">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RestaurantsActivity">
            //Adds an up button - arrow button on the left side of the app bar in the restaurant activity
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myrestaurants.MainActivity"
                />
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter> //denotes the type of intents an activity may receive
                <action android:name="android.intent.action.MAIN" /> //denotes the activity to start by default

                <category android:name="android.intent.category.LAUNCHER" /> //denotes that this activity is the initial activity and is listed in the device application launcher
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>